@media screen and (min-width: 736px) {
    #banner header h1 {
        font-size: 34px;
    }
    #banner header p {
        font-size: 18px;
    }
    #banner .inner {
        padding: 0px 20px;
    }
}

#header {
    width: 100%;
}

#menu-btn {
    margin-right: 16px;
}

.logo {
    font-size: 16px;
}

#colOr,
#coloR {
    color: #f5a425;
}

#colOr:hover {
    color: black;
}

#coloR:hover {
    color: #fff;
}

div.frame {
    display: block;
    justify-content: space-between;
}

#myFrame1 {
    display: block;
    background-color: #f0b454;
    color: #fff;
    height: 60px;
    width: 285px;
    margin-bottom: 10px;
}

#myFrame {
    display: block;
    background-color: honeydew;
    height: 185px;
    width: 285px;
    margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
    #frameButton {
        width: 40%;
    }
}

#frameButton {
    margin-bottom: 10px;
    background-color: rgb(70, 65, 65);
}

.change-color {
    color: #f5a425;
}

#output {
    color: purple;
    text-decoration: underline;
}

#center-link {
    color: #f5a425;
    text-align: center;
}